* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 900px;
    font-family: 'Space Grotesk', sans-serif;
    
}

main {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    min-width: 1500px
}

.left-side {
    width: 25%;
    background-image: url(/images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: 100vh;
    background-position: left;
}


.right-side {
    width: 75%;
}

img {
    width: 25%;
}

.logo {
    width: 20%;
}

.front-card {
    position: relative;
    top: 200px;
    left: 150px;
    background-image: url(/images/bg-card-front.png);
    border-radius: 10px;
    padding: 3rem 2.5rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    background-repeat: no-repeat;
    background-position-x: center;
    
}

.back-card {
    min-height: 25%;
    position: relative;
    top: 250px;
    left: 250px;
    background-image: url(/images/bg-card-back.png);
    background-repeat: no-repeat;
    background-position-x: center;
    border-radius: 10px;


}

.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

form {
    display: flex;
    flex-direction: column;
    width: 40%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.exp-date {
    display: flex;
    
}

.input-1, .input-2 {
   width: 80%;
   padding: 0.8rem 1rem;
}

input {
    border: 1px solid lightgray;
    border-radius: 10px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.3rem;
    outline: none;
}

input:focus {
    border: 2px solid hsl(249, 99%, 64%);
}

.input-4 {
    margin-left: 1rem;
}

.input-3, .input-4 {
    width: 40%;
    padding: 0.5rem;
}

button {
    margin-top: 2rem;
    padding: 1rem;
    width: 80%;
    background-color: hsl(278, 68%, 11%);
    color: white;
    border-radius: 8px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1rem;
    cursor: pointer;
}

.cardholder-name {
    height: 90px;
    padding: 2rem 0;
}

.card-number {
    font-size: 1.5rem;
}

.card-number p {
    margin: 0;
    margin-top: 2rem;
}

.name-exp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    
    
}

.name-exp > :nth-child(1), .name-exp > :nth-child(2) {
    margin: 0;
}

.cvc {
    top: 110px;
    left: 75%;
    position: relative;
    color: white;
    display: inline;
    letter-spacing: 0.2rem;
}

.zeros {
    letter-spacing: 7px;
    
}


.cvc-inp input {
    width: 80%;
    padding: 0.5rem;
    padding-left: 1rem;
}

.cvc-inp {
    align-self:flex-end;
    width: 50%;
}

.my {
    width: 40%;
}

input::placeholder {
    color: rgb(183, 181, 181)
}

form h2 {
    font-size: 1rem;
    color: hsl(278, 68%, 11%);
}

@media (max-width: 900px) {

    main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 900px;

    }

    .left-side {
        width: 100%;
        background-size: 100%;
        
    }

    .right-side {
        margin-top: 5rem;
        width: 80%;
        margin-right: 7rem;
    }

    .zeros {
        letter-spacing: 0.3rem;
    }

    .back-card {
        height: 250px;
        top: -100px;
        left: 220px;
        width: 50%;
      
    }

    .front-card {
        height: 250px;
        left: 100px;
        top: 300px;
        z-index: 1;
        width: 50%;
        padding-bottom: 1.5rem;
    }

    form {
        width: 100%;
    }

    
    
}